@import './vendors/reset';
@import './utils/variables';
@import './utils/mixins';

body{
    background-color: rgb(40, 40, 40);
    font-size: 12px;
    font-family: $font-text;
    header{
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
        margin-top: 15px;
        color: white;
    }
    form{
        text-align: center;
        color: white;
        input{
            border-radius: 6px;
        }
        button{
            background: #DFDEDF;
            box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
            color: #6E6D70;
            border-radius: 6px;
            align-self: center;
        }
    }
    main{
        margin-top: 20px;
    }
    .listHeader{
        background-color: rgb(150, 150, 150);
        font-size: 14px;
        font-weight: 700;
        max-width: 100%;
        display: grid;
        grid-template-columns: 60% 15% 25%;
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2.5px;
        border: black solid 1px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        span{
            align-self: center;
        }
        &__delete{
            border-left: black solid 1px;
            &__btn{
                background: #6E6D70;
                box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
                color: #DFDEDF;
                border-radius: 6px;
            }
            
        }
        &__state{
            border-left: black solid 1px;
        }
    }
    section{
        background-color: rgb(150, 150, 150);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 0 0 5px 5px;
        ul{
            li{
                display: grid;
                grid-template-columns: 60% 15% 25%;
                text-align: center;
                border: black solid 1px ;
                div{
                    border-left: black solid 1px;
                    align-self: center;
                    button{
                        background: #6E6D70;
                        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
                        color: #DFDEDF;
                        border-radius: 6px;
                    }
                }
                span{
                    align-self: center;
                }
                &:last-child{
                    border-radius: 0 0 5px 5px;
                }
            }
        }
    }
}

// <!-- HTML !-->
// <button class="button-12" role="button">Button 12</button>

// /* CSS */
// .button-12 {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 6px 14px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
//   border-radius: 6px;
//   border: none;

//   background: #6E6D70;
//   box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
//   color: #DFDEDF;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button-12:focus {
//   box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
//   outline: 0;
// }